/src/node_modules
/src/public/storage
/src/public/hot
/src/public/build/
/src/public/css/
/src/public/fonts/
/src/public/js/
/src/public/vendor/
/src/public/tmp/
/src/access_log
/src/error_log
/src/storage
/src/vendor
/.idea
Homestead.json
Homestead.yaml
/src/.env
/src/.phpunit.result.cache
/src/public/mix-manifest.json
compose.yaml
