/node_modules
/public/storage
/public/hot
/public/build/
/public/css/
/public/fonts/
/public/js/
/public/vendor/
/public/tmp/
access_log
error_log
/storage
/vendor
/nbproject
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
